{
  "presets": [
    "stage-0",
    "es2015",
    "react"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        [
          "transform-es2015-modules-commonjs",
          {
            "loose": true
          }
        ]
      ]
    },
    "es": {
      "plugins": [],
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "stage-0",
        "react"
      ]
    }
  }
}
